@{
    ViewBag.Title = "Contato";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Fone</h3>
    </header>
    <p>
        <span>11 951704121</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Endereço</h3>
    </header>
    <p>
        teste<br />
        teste, aa 0000-0000
    </p>
</section>